/*font-family: 'Open Sans', sans-serif;*/
/*Colours values #c78c06, #ffe6ac, #222 and white*/


body {
    font-family:'Open Sans', sans-serif;
}

.container .container2 {
    max-width: 1200px;
    margin: 0 auto;      
}

/********************** MOBILE ******************/
/*Header*/
/* Used the styling below for mobile header and navigation bar */

 
nav {
    display: block; 
    color: #c78c06;
    text-align: center;
    background-color: #000;
}  

nav img {
    float:left;
}

nav .home { 
    padding: 8rem 0 1rem 0;
}  
  
li {
    padding: 20px;
    text-decoration: none;
} 

li:hover {
    background-color: #c78c06;
    color: #000;
}
  
a {
    text-decoration: none;
    color: inherit;
}

.search {
    display: inline-block;
    width: calc(100% - 70px - 24px);
    height: calc(70px - 48px);
    border: none;
    vertical-align: middle;
    font-size: 1px;
    padding: 5px 10px;
}

button { 
    padding: 6px;
    color: sandybrown;
    border-color: #c78c06;
    background-color: transparent;
    margin: 0 5px 10px 0;
}

/* Banner */
/* Instead of using relative and absolute, used background-image to show banner photo and background-color with
opacity for banner text bakground  */

.banner-container {
    height: 600px;
    background-image: url("../images/main-banner.jpg");
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;    
}

h1 {
    font-size: 60px;
    color: white;
    font-weight: bold;
    padding: 50px 0 0 15px;   
}

.banner-text p {
    font-size: 12px;
    color: white;
    line-height: 1.5;
    padding: 15px;
}

.button-4 {
    background-color: #c78c06;
    border: none; 
    color: black;
    padding: 15px 25px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.banner-text {
    background-color: rgb(0,0,0,.6);
    text-align: left;
    position: absolute;
    top:65%;   
}

 .fa-caret-right {
   vertical-align: middle;
   font-size: 30px;

}
/*About-us */
/* Used the styling below for mobile about us section */

.about-container {
    margin: auto;
    padding:15px;
    background-color: #ffe6ac;  
}

.about-photo {
    width: 100%;
    padding-bottom:20px;
}

h2 {
    font-size: 38px;
    font-weight:bold;
    padding-bottom: 10px; 
}

h4 {
    font-size: 25px;
    font-weight:bold;
    padding-bottom: 10px;
}

.about-us p {
    font-size:12px;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 1.5; 
}


/*Services */
/* Used multiple classes to style different services card*/

.service-container {
   width: 100%;
   margin: auto;  
}

.our-services h2 {
    padding: 30px 0 0 10px;
}

/*Services - Digital */

.digital  {
    justify-content: center;
    margin: 15px 15px;
    background-color: #ffe6ac;
}

.digital-image {
    width: 100%;
}

.digital p {
    font-size:12px;
    line-height: 1.5;
    padding: 10px 0 10px 10px;
}

.digital h4 {
    padding-left: 10px;
    padding-top: 30px;
}

.button {
   background-color: black; 
   border: none; 
   color: white;
   padding: 15px 25px;
   margin: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;    
}

/*Services - Marketing */

.marketing  {
    justify-content: center;
    margin: 15px 15px;
    background-color: #ffe6ac;
}

.marketing-image {
    width: 100%;
}

.marketing p {
    font-size:12px;
    line-height: 1.5;
    padding: 10px 0 10px 10px;

}

.marketing h4 {
    padding-left: 10px;
    padding-top: 30px;
}


/*Services - Video */

.video  {
    justify-content: center;
    margin: 15px 15px;
    background-color: #ffe6ac;
}

.video-image {
    width: 100%;
}

.video p {
    font-size:12px;
    line-height: 1.5;
    padding: 10px 0 10px 10px;
}

.video h4 {
    padding-left: 10px;
    padding-top: 30px;
}


/*Services - Web */

.web  {
    justify-content: center;
    margin: 15px 15px;
    background-color: #ffe6ac;
}

.web-image {
    width: 100%;
}

.web p {
    font-size:12px;
    line-height: 1.5;
    padding: 10px 0 10px 10px;
}

.web h4 {
    padding-left: 10px;
    padding-top: 30px;
}

/*Services - Print */

.print  {
    justify-content: center;
    margin: 15px 15px;
    background-color: #ffe6ac;
}

.print-image {
    width: 100%;
}

.print p {
    font-size:12px;
    line-height: 1.5;
    padding: 10px 0 10px 10px;
}

.print h4 {
    padding-left: 10px;
    padding-top: 30px;
}


/*Vision*/
/* Used background-image to show vision photo and added styling */

.vision-container {
    height: 300px;
    background-image: url("../images/vision.jpg");
    background-color:white;
    background-position: 100% 50%;
    background-size: cover; 
}

.vision a { 
    color: white;
    background-color: black; 
    border-color:  #c78c06; 
    padding: 20px 25px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.vision h3 {
    color:white;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0 20px 15px;
}

.vision p {
    color:white;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 0 50px 15px;
}

/*Our Team */
/* Used styling below for Our Team section. Added line before each paragraph. */


.our-team h2 {
    padding: 30px 0 0 10px;

}

/*Our Team - John */

.john {
    background-color: #ffe6ac;
    margin: 15px;   
}

.john-image {
    width: 100%; 
       
}

.john-text p {  
    font-size:12px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 15px 15px;
    line-height: 1.5;
    padding-bottom: 20px;
}

.john-text h3 {
    padding-left: 10px;
    background-color: #ffe6ac;
    justify-content: center;
    margin: 15px 15px;
    font-size: 28px;
    font-weight:bold;
}

.john-text h5 {
    padding-left: 10px;
    background-color: #ffe6ac;
    justify-content: center;
    margin: 15px 15px;
    font-size: 15px;
    font-weight:bold;
}

.line {
    border: 1px solid #c78c06;
    margin-left: 25px;
    margin-right: 25px;
}


/*Our Team - Bob */
.bob {
    background-color: #ffe6ac;
    margin: 15px;       
}

.bob-image {
     width: 100%; 
}

.bob-text p {
    font-size:12px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin: 15px 15px;
    line-height: 1.5;
}

.bob-text h3 {
    padding-left: 10px;
    background-color: #ffe6ac;
    justify-content: center;  
    margin: 15px 15px;
    font-size: 28px;
    font-weight:bold;
}

.bob-text h5 {
    padding-left: 10px;
    background-color: #ffe6ac;
    justify-content: center;   
    margin: 15px 15px;
    font-size: 15px;
    font-weight:bold;
}


/*Contact Us */

.contact-us h2 {
    padding: 30px 0 50px 10px;
}

/*Contact Us - Send us a message*/
/* Used styling below to create input forms for send us a message section */

.message h3 {
    padding-left:15px;
    padding-bottom: 20px; 
    font-size: 25px;
    font-weight:bold;   
}

.label {
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 12px;
}

.message input[type=text], [type=email] {
    width: 95%;
    margin-left:15px;
    margin-bottom: 10px;
}

.message textarea[name=message] {

    margin-left:15px;
    margin-bottom: 10px;
    width: 95%;
    height:150px;
}

/* Send button styling */
.button-2 {
    background-color: black; 
    border: none;
    color:#c78c06;
    padding: 5px 10px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;  
}

/*Contact Us - HOO */
/* Styling for table row and columns */

.hoo {
    font-family: 'Open Sans', sans-serif;
}

.hoo h3 {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 20px; 
    font-size: 25px;
    font-weight:bold;   
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 15px;
  }

table {
    width: 95%;
    font-size: 12px;
}
    
th {
    background-color: #ffe6ac;
}

/*Contact Us - Location */
/* Styling for map */

.location h3 {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 20px; 
    font-size: 25px;
    font-weight:bold;
}

iframe {
    width: 95%;
    padding-left: 15px;
    padding-bottom: 20px;   
}

/*Footer*/
/* styling for footer */

footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color:#c78c06;
    line-height: 2;
    padding: 20px 0 20px 15px;
    background-color: black;
}


/********************** DESKTOP ******************/

@media screen and (min-width:760px) { 

 /* Styling for header of big screen. Used flex to align list items. */


nav, ul {
    display:flex;  
    justify-content: center;
    align-items: center;
}

nav {
    padding:10px 10px 10px 10px;    
}

nav .home {
    padding: 20px 0 20px 0;
}

ul img {
    padding: 10px 10px 10px 0;
}

li { 
    width:100px;
    font-size: 16px;    
}

.search {
    display:inline-block;
    width: calc(20% - 10px - 20px);
    height: 25px;
    margin-left: 20px;    
}

button {
   display: inline-block;
   margin-top: 8.8px;
   width: 40px;
   height: 37px;
}
  
/*Banner*/
/* Added margin to text background to float text and button */


.banner-text {
    margin: 30px;
    padding-bottom: 20px;
    top: 30%;     
}

.banner-text h1 {
    font-size: 65px;
}

.banner-text p {
    font-size: 16px;
}


/* About Us */
/* Used flex to create two sections for about us photo and image */

.about-container {
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 10px 60px;
        
}
       
.about-container .about-photo {
    width: 60%;
        
}

.about-us {
    font-size: 14px;
    padding-left: 15px;
    
}

.about-us p {
    font-size: 14px;
}

 
/*Services */
 /* Used grid to display our services componens using  6 columns and 3 rows */

.services-container {
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:
        "our-services our-services our-services our-services our-services our-services"
        "digital digital digital marketing marketing marketing"
        "video video web web print print";
      }
      
              .our-services {
                  grid-area: our-services;
              }
              .digital {
                  grid-area: digital;
                  
              }
              .marketing {
                  grid-area: marketing;
                  
              }
              .video {
                  grid-area: video;
              }
              .web {
                  grid-area: web;
              }
              .print {
                  grid-area: print;
              }

.services-container p {
    font-size: 14px;
}
    
.digital a, .marketing a {
    width: 86%;
    margin: 10px; 
    justify-content: center;    
    align-items: center;          
}

.video a, .web a, .print a {
    width: 79%;
    margin: 10px; 
    justify-content: center;    
    align-items: center; 
}

/* Vision */
/* Used styling below to change size, font and alignment of elements vision section */

.vision-container {
    height: 270px;           
}
 
.vision h3 {
    padding-left: 80px;    
}

.vision p {
    padding-left: 80px;
    padding-bottom: 35px;
    font-size: 14px;
}

.vision a { 
    padding-left: 15px;
    margin-left:80px;    
}


/* Our Team */     
/* Used flex to display elements of Our Team so photo and text will appear side to side     */

.team-container {
    padding-left: 60px;
    padding-right: 60px;        
}

.our-team {
    padding-left: 15px;
    padding-top: 20px;
}


.john {
    display:flex;         
}   
        
.john .john-text {
    width: 50%;
}

.john-text p {
    font-size: 15px;
}

.john .john-image {
    width: 50%;
}


.bob {
    display:flex;
    flex-direction: row-reverse;        
}   
        
.bob .bob-text {
    width: 50%;
}
        
.bob .bob-image {
    width: 50%;
}

.bob-text p {
    font-size: 15px;
}


/*Contact Us */

.contact-us h2 {
    padding-left: 20px;
}


/*Contact Us - Send us a message*/
/* Used styling below for labels and input form elements */

.message h3 {
    padding-left: 20px;   
}

.label {
    padding-left: 20px;    
}

.message input[type=text] {
    width: 95%;
    padding: 10px 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-sizing: border-box;   
}

.message input[type=email] {
    width: 95%;
    padding: 10px 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-sizing: border-box;        
}

.message textarea[name=message] {
    margin-left:10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 95%;
    height:150px;
    border-radius: 2px;        
}

.button-2 {
        margin-bottom: 35px;
}


/*Contact Us - HOO */
/* Table row and column styling */

.hoo h3 {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px; 
    font-size: 25px;
    font-weight:bold;   
}

table, th, td {
    padding: 15px;
    margin-left: 20px;
}
    

table {
    width: 100%;
    font-size: 12px;   
}

.label {
    font-size: 14px;
}
    
/* Used grid with 2 columns and 3 rows to display elements of contact us,  
wherein send message and location are next to each other */
.contact-container {
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
        "contact-us contact-us"
        "message location"
        "hoo hoo";
      }
      
              .contact-us {
                  grid-area: contact-us;
              }
              .message {
                  grid-area: message;
              }
              .hoo {
                  grid-area: hoo;
              }
              .location {
                  grid-area: location;
              }
       

/*Contact Us - Location */
/* Styling for map */

.location h3 {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 20px; 
    font-size: 25px;
    font-weight:bold;
}

iframe {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 5px;   
}

/*Footer*/
/* Styling for footer */

footer {
    font-size: 13px;
    padding-left: 8%;   
}  