/*font-family: 'Open Sans', sans-serif;*/


body {
    margin: auto;
}

.header {

    background-color: black;
    overflow: hidden;

}

.navigation li{
    float: left;
    display: block; 
    text-align: center;
    padding: 14px 16px;    
}

.navigation a {
    text-decoration: none;  
    color: sandybrown;
}


.fa-search {
    color: sandybrown;
    border: auto;
    border-color: sandybrown;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.message input[type=text], [type=email] {
    width:25%;
}

textarea[name=message] {
    width:50%;
    height:200%;
}

/*

.banner-image {
    position: relative;

}

.banner-text {
    position: absolute;
    text-align: center;
    top: 50%;
    bottom: 50%;
    
} 


.about-container {
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.about-container .about-photo{

    width: 100%;    
}

.about-container .about-photo{

   width: 50%;
    
}
    

.services-container {

  display: grid;
  grid-template-columns:6;
  grid-template-rows:3;
  grid-template-areas:
    "our-services our-services our-services our-services our-services our-services"
    "digital digital digital marketing marketing marketing"
    "video video web web print print";
}

        .our-services {
            grid-area: our-services;
        }
        .digital {
            grid-area: digital;
        }
        .marketing {
            grid-area: marketing;
        }
        .video {
            grid-area: video;
        }
        .web {
            grid-area: web;
        }
        .print {
            grid-area: print;
        }
   
    */